.edit {
    max-width: 70%;
    margin: 5% auto;
}

.action_btn{
    margin: 0 5px;
}

.edit h1 {
    color: rgb(250, 228, 215);
    display: inline-block;
    background-color: rgb(87, 164, 226);
    padding: 5px 10px;
    border-radius: 5px;
}